body {
  background-color: white;
  color: white;
  @include transition(background-color 1s ease);

  &.loaded {
    background-color: black;
  }
}
header {
  color: black;
  visibility: hidden;
  @include transition(color 1s ease);

  img {
    opacity: 0;
    @include transition(opacity 1s ease);
  }
  &.show img {
    opacity: 1;
  }

  &.show {
    color: white;
    visibility: visible;
  }
}

.admin .submit {
  @include button(#283593);
}
.content {
  opacity: 0;
  @include transition(opacity .5s ease);

  &.show {
    opacity: 1;
  }
}
.gallery-item {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid white;
  border-radius: 4px;

  img {
    cursor: pointer;
  }

  .order {
    @include button(#283593);
  }
}
.login .submit {
  @include button(#283593);
}
.nav-button {
  @include button(#283593);
}
.order {
  input {
    width: 100%;
  }

  .input-wrapper {
    margin: 20px auto;
    max-width: 200px;
  }
  .submit {
    margin: 20px auto;
    max-width: 200px;
    @include button(#283593);
  }
}
.success {
  h2 {
    margin: 20px auto;
  }
}
.tiny-space {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  @include transition(opacity 1s ease);

  &.show {
    opacity: 1;
  }
}
