<div class="admin">
  <h2>Add New Tiny Space</h2>
  <div class="input-wrapper">
    <div class="input-heading">Name</div>
    <input type="text" placeholder="Spacey Space" data-type="name" autofocus>
  </div>
  <div class="input-wrapper">
    <div class="input-heading">Description</div>
    <input type="text" placeholder="This space was made with love." data-type="description">
  </div>
  <div class="input-wrapper">
    <div class="input-heading">Is Already Sold?</div>
    <input type="checkbox">
  </div>
  <div class="input-wrapper">
    <div class="input-heading">Image</div>
    <input type="file">
  </div>
  <div class="submit">Add Image</div>
  <div class="status"></div>
</div>
