<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <meta name="description" content="Use the Quether dashboard to stay on top of your local weather, up to five days out!">
    <meta property="og:title" content="Quether"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content="Use the Quether dashboard to stay on top of your local weather, up to five days out!"/>
    <title>Quether</title>
    <link rel="shortcut icon" href="/favicon.ico?v=2">
    <link rel="icon" href="/favicon.ico?v=2">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- include: "type": "css", "files": "**/*.css" -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- include: "type": "js", "files": ["res/*.js", "js/*.js"] -->
    <!-- include: "type": "js", "files": ["index.js", "**/*.module.js", "views/*.js", "models/*.js"] -->
    <!-- templates -->
  </head>
  <body>
    <header>
      <h1>Quether</h1>
      <h2>Weather, made quick!</h2>
    </header>
    <section class="content">
    </section>
    <footer>
      <span class="contact">Questions? Contact me at greysonrichey (at) gmail (dot) com!</span>
    </footer>
  </body>
</html>
