html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  min-height: 100%;
  min-width: 100%; }

body {
  background-color: white;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
  width: 100vw; }

footer {
  height: 2vh;
  left: calc(50% - 10vw);
  position: fixed;
  text-align: center;
  top: 98vh;
  width: 20vw;
  z-index: 2; }
  @media (max-width: 767px) {
    footer {
      left: 0;
      top: 98vh;
      width: 100vw; } }
  footer .admin {
    cursor: pointer;
    margin-left: 10px;
    text-decoration: underline; }

header {
  margin: 0 auto;
  position: relative;
  z-index: 2; }
  header h1 {
    margin-bottom: 20px; }
  header img {
    margin-top: 50px;
    max-height: 100px;
    max-width: 100px; }

section.content {
  position: relative;
  z-index: 2; }

.admin > * {
  margin: 20px auto;
  width: 100%;
  max-width: 300px; }

.admin input {
  width: 100%; }

.admin .input-heading {
  margin: 10px 0; }

.button-wrapper {
  width: 336px;
  margin: 10px auto; }

.gallery {
  margin: 0 auto;
  width: 80vw; }
  @media (max-width: 767px) {
    .gallery {
      width: 100vw; } }
  .gallery .gallery-item {
    float: left;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    width: calc(25% - 64px); }
    @media (max-width: 767px) {
      .gallery .gallery-item {
        width: calc(100% - 84px); } }
    .gallery .gallery-item img {
      height: 70%;
      margin-top: 20px;
      width: 70%;
      -webkit-transition: height 0.1s ease;
      -moz-transition: height 0.1s ease;
      -ms-transition: height 0.1s ease;
      -o-transition: height 0.1s ease;
      transition: height 0.1s ease;
      -webkit-transition: left 0.1s ease;
      -moz-transition: left 0.1s ease;
      -ms-transition: left 0.1s ease;
      -o-transition: left 0.1s ease;
      transition: left 0.1s ease;
      -webkit-transition: top 0.1s ease;
      -moz-transition: top 0.1s ease;
      -ms-transition: top 0.1s ease;
      -o-transition: top 0.1s ease;
      transition: top 0.1s ease;
      -webkit-transition: width 0.1s ease;
      -moz-transition: width 0.1s ease;
      -ms-transition: width 0.1s ease;
      -o-transition: width 0.1s ease;
      transition: width 0.1s ease; }
      .gallery .gallery-item img.expanded {
        height: 90vh;
        left: 5vw;
        position: fixed;
        top: 5vh;
        width: 90vw; }
    .gallery .gallery-item .order {
      margin-top: 20px; }

.login div {
  margin: 20px auto;
  width: 100%;
  max-width: 300px; }

.login input {
  width: 100%; }

.nav-button {
  float: left;
  margin-left: 10px;
  width: 150px; }

.tiny-space {
  position: fixed;
  z-index: 1; }

* {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-size: 0.875rem; }

h1 {
  font-size: 108px;
  font-size: 6.75rem; }

h2 {
  font-size: 22px;
  font-size: 1.375rem; }

h3 {
  font-size: 22px;
  font-size: 1.375rem; }

h4 {
  font-size: 18px;
  font-size: 1.125rem; }

h5 {
  font-size: 14px;
  font-size: 0.875rem; }

h6 {
  font-size: 12px;
  font-size: 0.75rem; }

.admin .input-heading {
  font-size: 22px;
  font-size: 1.375rem; }

.nav-button {
  font-size: 22px;
  font-size: 1.375rem; }

.gallery-item .name {
  font-size: 22px;
  font-size: 1.375rem; }

.gallery-item .order {
  font-size: 18px;
  font-size: 1.125rem; }

.login div {
  font-size: 22px;
  font-size: 1.375rem; }

.invalid {
  color: red; }
  .invalid input {
    color: red; }

.valid {
  color: green; }
  .valid input {
    color: green; }

body {
  background-color: white;
  color: white;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease; }
  body.loaded {
    background-color: black; }

header {
  color: black;
  visibility: hidden;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease; }
  header img {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease; }
  header.show img {
    opacity: 1; }
  header.show {
    color: white;
    visibility: visible; }

.admin .submit {
  background-color: #283593;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  line-height: 2;
  min-width: 100px;
  padding: 4px;
  text-align: center;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .admin .submit:hover {
    background-color: #3343bb; }
  .admin .submit:active {
    background-color: #1d276b; }

.content {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }
  .content.show {
    opacity: 1; }

.gallery-item {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid white;
  border-radius: 4px; }
  .gallery-item img {
    cursor: pointer; }
  .gallery-item .order {
    background-color: #283593;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    line-height: 2;
    min-width: 100px;
    padding: 4px;
    text-align: center;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .gallery-item .order:hover {
      background-color: #3343bb; }
    .gallery-item .order:active {
      background-color: #1d276b; }

.login .submit {
  background-color: #283593;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  line-height: 2;
  min-width: 100px;
  padding: 4px;
  text-align: center;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .login .submit:hover {
    background-color: #3343bb; }
  .login .submit:active {
    background-color: #1d276b; }

.nav-button {
  background-color: #283593;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  line-height: 2;
  min-width: 100px;
  padding: 4px;
  text-align: center;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .nav-button:hover {
    background-color: #3343bb; }
  .nav-button:active {
    background-color: #1d276b; }

.order input {
  width: 100%; }

.order .input-wrapper {
  margin: 20px auto;
  max-width: 200px; }

.order .submit {
  margin: 20px auto;
  max-width: 200px;
  background-color: #283593;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  line-height: 2;
  min-width: 100px;
  padding: 4px;
  text-align: center;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .order .submit:hover {
    background-color: #3343bb; }
  .order .submit:active {
    background-color: #1d276b; }

.success h2 {
  margin: 20px auto; }

.tiny-space {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease; }
  .tiny-space.show {
    opacity: 1; }

/*# sourceMappingURL=main.css.map */